@model Task2.Models.Query1Model

@{
	ViewData["Title"] = "QueryView";
	var id = ViewBag.Id;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
	<h2>Query1</h2>
	<hr />
	<dl class="dl-horizontal"></dl>
</div>

<div>
	<div class="container">
		<h2>Post info (User id = @id)</h2>
		<table class="table table-bordered table-striped table-hover">
			<thead>
				<tr>
					<th>Post Title</th>
					<th>Comments Count</th>
				</tr>
			</thead>
			<tbody>
				@if (Model.Query1 != null)
				{
					foreach (var tuple in Model.Query1)
					 {
						 <tr>
							
							 @if (@tuple.Item1 != null)
							 {
								 <td>@Html.ActionLink(@tuple.Item1.Title, "ShowPost/" + @tuple.Item1.Id, "ShowPost", null, new { target = "_blank" })</td>
							 }
							 else
							 {
								 <td></td>
							 }
							 <td>@tuple.Item2</td>
						 </tr>
					 }
				}
			</tbody>
		</table>
	</div>

</div>

<div>
	<a asp-action="Index">Back</a>
</div>
